# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example
!.env.dev.example
!.env.stage.example
!.env.prod.example

# Databases
*.db
*.sqlite
*.sqlite3

# Node / frontend
node_modules/
dist/
build/

# OS
Desktop.ini
desktop.ini
.DS_Store

# Logs
*.log
